<form action="/products/<%=@product.id%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name</label>
  <input id='name' type="text" name="product[name]" value="<%=@product.name%>">
  <label for="description">Description</label>
  <input id='description' type="text" name="product[description]" value="<%=@product.description%>">
  <label for="price">Price</label>
  <input id='price' type="number" name="product[price]" placeholder="ex: 19.99" value="<%= @product.price %>">
  <label for="category">Category</label>
  <select id="category" name="product[category]">
  <% @categories.each do |category| %>
  <% if(category.name == @product.category.name) %>
  <option selected="select" value="<%= category.id %>"><%= category.name %></option>
  <% else %>
  <option value="<% category.id %>"><%= category.name %></option>
  <%end %>
  <%end %>
  </select><br><br>
  <input type="submit" value="Update">
</form><br>
<a href="/products/<%= @product.id %>">Show</a> | <a href="/products">Back</a>
